In [160]:
import os
import json

import numpy as np
import pandas as pd

print(os.path.abspath(os.path.curdir))

/Users/nicholsn/Repos/metasearch/crawler/transform

In [209]:
# Path to projects with extracted files.
extract_path = os.path.abspath('../extract')
# Path to where the tranformed projects will go.
xfm_path = os.path.abspath(os.path.curdir)
# Project dirs.
project_names = [i for i in os.listdir(extract_path) if '.' not in i]
extract_dirs = [os.path.join(extract_path, i) for i in project_names]
xfm_dirs = [os.path.join(xfm_path, i) for i in project_names]

In [224]:
def apply_mapping(mapping, df_list):
    df = pd.DataFrame()
    csv = pd.concat(df_list)
    for col, elem in mapping.iteritems():
        series = csv[col]
        if elem.get('type') == 'category':
            result = series.apply(lambda x: elem.get(str(x)))
        elif elem.get('type') == 'number':
            lambda x: True if x % 2 == 0 else False
            result = series.apply(lambda x: np.NaN if str(x) in elem.keys() else x)
        else:
            result = series
        df[elem.get('element')] = result
    return df

In [228]:
# Read a mapping.json file from each sub directory to process.
for project_name in project_names:
    df_list = list()
    mapping = dict()
    extract_dir = os.path.join(extract_path, project_name)
    xfm_dir = os.path.join(xfm_path, project_name)
    # All files must use the same data dictionary in a given directory.
    extract_files = [os.path.join(extract_dir, i) for i in os.listdir(extract_dir)]
    mapping_file = os.path.join(xfm_dir, 'mapping.json')
    if os.path.exists(mapping_file):
        with open(mapping_file, 'rb') as fi:
            mapping.update(json.load(fi))
        for extract_file in extract_files:
            df_list.append(pd.read_csv(extract_file))
        xfm = apply_mapping(mapping, df_list)
        pheno_file = ''.join([project_name, '_', 'phenotype.csv'])
        pheno_path = os.path.join(xfm_dir, pheno_file)
        xfm.to_csv(pheno_path, index=False)

In [83]:
p = '/Users/nicholsn/Repos/metasearch/crawler/extract/adhd200'

In [149]:
foo = pd.DataFrame()
bar = pd.read_csv('/Users/nicholsn/Repos/metasearch/crawler/extract/adhd200/Brown_TestRelease_phenotypic.csv')
bat = pd.read_csv('/Users/nicholsn/Repos/metasearch/crawler/extract/adhd200/KKI_phenotypic.csv')

In [212]:
ls /Users/nicholsn/Repos/metasearch/crawler/transform/abide_initiative/mapping.json

/Users/nicholsn/Repos/metasearch/crawler/transform/abide_initiative/mapping.json

In [152]:
bat

,ScanDir ID,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,Inattentive,...,Performance IQ,Full2 IQ,Full4 IQ,Med Status,QC_Rest_1,QC_Rest_2,QC_Rest_3,QC_Rest_4,QC_Anatomical_1,QC_Anatomical_2
0,2371032,3,0,10.73,1,0,NaN,2,47,55,...,119,NaN,122,1,1,NaN,NaN,NaN,1,NaN
1,2026113,3,0,12.99,1,1,NaN,2,90,89,...,108,NaN,106,1,1,NaN,NaN,NaN,1,NaN
2,3434578,3,0,8.12,1,0,NaN,2,42,42,...,98,NaN,89,1,1,NaN,NaN,NaN,1,NaN
3,8628223,3,0,10.81,1,0,Simple phobia,2,42,49,...,86,NaN,97,1,1,NaN,NaN,NaN,1,NaN
4,1623716,3,0,12.65,1,1,NaN,2,87,90,...,88,NaN,89,1,1,NaN,NaN,NaN,1,NaN
5,1594156,3,1,12.87,1,0,Simple Phobia,2,54,55,...,104,NaN,108,1,1,NaN,NaN,NaN,1,NaN
6,2930625,3,1,9.97,1,0,NaN,2,40,40,...,127,NaN,106,1,1,NaN,NaN,NaN,1,NaN
7,3154996,3,1,11.65,1,3,NaN,2,64,74,...,98,NaN,88,1,1,NaN,NaN,NaN,1,NaN
8,3160561,3,1,11.95,1,1,NaN,2,71,62,...,108,NaN,99,1,1,NaN,NaN,NaN,1,NaN
9,4275075,3,0,10.50,1,3,NaN,2,87,75,...,100,NaN,94,1,1,NaN,NaN,NaN,1,NaN
10,2917777,3,1,12.66,1,0,NaN,2,-999,-999,...,104,NaN,100,1,1,NaN,NaN,NaN,1,NaN
11,2558999,3,1,8.87,1,0,NaN,2,40,40,...,108,NaN,120,1,1,NaN,NaN,NaN,1,NaN
12,2740232,3,1,11.09,1,0,NaN,2,42,43,...,102,NaN,85,1,1,NaN,NaN,NaN,1,NaN
13,1018959,3,0,12.36,1,0,NaN,2,44,47,...,100,NaN,110,1,1,NaN,NaN,NaN,1,NaN
14,2572285,3,1,8.33,1,0,NaN,2,46,48,...,119,NaN,106,1,1,NaN,NaN,NaN,1,NaN
15,1962503,3,0,8.67,0,0,simple phobias,2,48,48,...,110,NaN,115,1,1,NaN,NaN,NaN,1,NaN
16,1842819,3,1,10.09,1,0,NaN,2,50,52,...,92,NaN,105,1,1,NaN,NaN,NaN,1,NaN
17,1873761,3,0,10.36,1,1,ODD,2,90,90,...,108,NaN,126,1,1,NaN,NaN,NaN,1,NaN
18,3103809,3,1,9.30,1,0,NaN,2,41,43,...,92,NaN,102,1,0,NaN,NaN,NaN,1,NaN
19,3699991,3,1,12.77,1,0,NaN,2,42,41,...,102,NaN,98,1,1,NaN,NaN,NaN,1,NaN
20,1535233,3,1,9.64,0,0,NaN,2,42,41,...,96,NaN,120,1,1,NaN,NaN,NaN,1,NaN
21,4154182,3,0,9.75,1,0,NaN,2,49,42,...,123,NaN,111,1,1,NaN,NaN,NaN,1,NaN
22,6453038,3,0,8.72,1,1,NaN,2,62,65,...,106,NaN,108,1,0,NaN,NaN,NaN,1,NaN
23,3486975,3,0,11.73,1,0,NaN,2,42,42,...,121,NaN,117,1,1,NaN,NaN,NaN,1,NaN
24,3912996,3,0,9.79,1,0,NaN,2,49,53,...,110,NaN,109,1,1,NaN,NaN,NaN,1,NaN
25,1686265,3,1,8.02,0,0,NaN,2,50,51,...,119,NaN,108,1,1,NaN,NaN,NaN,1,NaN
26,2014113,3,1,10.35,1,1,NaN,2,60,65,...,106,NaN,102,1,1,NaN,NaN,NaN,1,NaN
27,1996183,3,1,11.04,1,3,ODD,2,77,76,...,123,NaN,112,1,1,NaN,NaN,NaN,1,NaN
28,7129258,3,1,9.73,1,0,NaN,2,42,40,...,108,NaN,112,1,1,NaN,NaN,NaN,1,NaN
29,1779922,3,1,10.84,1,0,NaN,2,43,41,...,137,NaN,124,1,1,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,5216908,3,1,10.82,1,0,Phobia,2,46,49,...,79,NaN,98,1,0,NaN,NaN,NaN,1,NaN
54,1019436,3,1,12.98,1,3,NaN,2,71,60,...,115,NaN,103,1,1,NaN,NaN,NaN,1,NaN
55,8432725,3,0,11.51,1,0,Simple Phobia,2,-999,-999,...,102,NaN,116,1,1,NaN,NaN,NaN,1,NaN
56,1043241,3,1,9.12,1,0,NaN,2,40,40,...,108,NaN,122,1,1,NaN,NaN,NaN,1,NaN
57,2554127,3,1,9.02,1,0,NaN,2,46,41,...,121,NaN,120,1,1,NaN,NaN,NaN,1,NaN
58,3713230,3,0,11.67,1,0,NaN,2,44,42,...,106,NaN,119,1,1,NaN,NaN,NaN,1,NaN
59,3902469,3,1,10.64,1,0,NaN,2,50,53,...,112,NaN,124,1,1,NaN,NaN,NaN,1,NaN
60,3972956,3,1,10.12,1,0,NaN,2,41,41,...,127,NaN,131,1,1,NaN,NaN,NaN,1,NaN
61,7415617,3,1,10.90,1,0,NaN,2,43,45,...,106,NaN,117,1,1,NaN,NaN,NaN,1,NaN
62,3519022,3,0,8.10,1,1,ODD,2,84,88,...,129,NaN,134,1,1,NaN,NaN,NaN,1,NaN
63,1266183,3,0,9.67,1,0,NaN,2,47,44,...,106,NaN,120,1,1,NaN,NaN,NaN,1,NaN
64,1846346,3,0,8.91,1,0,NaN,2,42,42,...,106,NaN,109,1,1,NaN,NaN,NaN,1,NaN
65,2768273,3,0,9.24,1,0,NaN,2,48,51,...,112,NaN,122,1,1,NaN,NaN,NaN,0,NaN
66,3917422,3,1,8.19,1,1,NaN,2,62,60,...,119,NaN,126,1,1,NaN,NaN,NaN,1,NaN
67,4362730,3,0,8.99,1,1,social and simple phobia,2,77,80,...,106,NaN,121,1,1,NaN,NaN,NaN,1,NaN
68,8337695,3,1,8.80,1,1,ODD,2,71,74,...,112,NaN,94,2,1,NaN,NaN,NaN,1,NaN
69,3611827,3,1,9.08,0,1,NaN,2,62,64,...,106,NaN,89,2,1,NaN,NaN,NaN,1,NaN
70,1541812,3,0,8.45,1,1,NaN,2,79,90,...,135,NaN,122,2,1,NaN,NaN,NaN,1,NaN
71,2601925,3,1,9.58,1,0,NaN,2,-999,-999,...,106,NaN,99,2,1,NaN,NaN,NaN,1,NaN
72,7774305,3,0,11.22,1,0,NaN,2,42,42,...,92,NaN,108,2,1,NaN,NaN,NaN,1,NaN
73,2138826,3,0,8.46,1,0,NaN,2,42,42,...,106,NaN,119,2,1,NaN,NaN,NaN,1,NaN
74,3170319,3,0,9.52,1,1,ODD,2,67,73,...,125,NaN,122,2,1,NaN,NaN,NaN,1,NaN
75,1988015,3,1,11.17,1,0,Simple Phobia,2,46,44,...,108,NaN,99,2,1,NaN,NaN,NaN,1,NaN
76,1735881,3,0,9.39,2,0,NaN,2,49,47,...,102,NaN,116,2,1,NaN,NaN,NaN,1,NaN
77,2081148,3,0,9.43,1,1,NaN,2,79,75,...,98,NaN,88,2,1,NaN,NaN,NaN,1,NaN
78,2360428,3,1,8.56,1,0,NaN,2,43,43,...,102,NaN,113,2,1,NaN,NaN,NaN,1,NaN
79,2903997,3,0,11.91,1,0,NaN,2,44,49,...,121,NaN,126,2,1,NaN,NaN,NaN,1,NaN
80,2703289,3,1,11.10,1,0,NaN,2,41,40,...,117,NaN,109,2,1,NaN,NaN,NaN,1,NaN
81,1577042,3,1,9.06,1,1,NaN,2,78,73,...,90,NaN,90,2,1,NaN,NaN,NaN,1,NaN
82,2621228,3,0,8.98,1,0,NaN,2,46,48,...,110,NaN,116,2,1,NaN,NaN,NaN,1,NaN